@import "iconfont";

.text-energized {
    color: #B80D0D;
}

#overview {
    background: #ECF9E4;

    h1  {
        .text-energized();
        font-weight: bold;
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        small {
            font-size: 75%;
        }
    }

    img {
        max-height: 200px;
        max-width: 100%;
        opacity: 0.95;
    }

    .profile {
        .profile-item {
            float: left;
            width: 40%;
        }
    }
}
